<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="container">
    <h3 class="mt-5 text-center">ログイン</h3>
    <h5 class="mt-5 mb-3 text-center">メールアドレスとパスワードを入力</h5>
    
    <div class="mb-3 col-4 mx-auto">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder:"メールアドレス"%>
    </div>
    <div class="mb-3 col-4 mx-auto">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder:"パスワード"%>
    </div>
    <div class="text-center">
      <%= f.submit "ログイン", class: "btn btn-sm btn-light col-4" %>
    </div>
  </div> 
<% end %>