注文履歴一覧
<div class="container">
  <div class="mx-auto col-8">
    <div class="row">
      <table class="table table-hoever table-inverse">
        <thead>
          <tr bgcolor="#e8e8e8">
            <td>購入日時</td>
            <td>購入者</td>
            <td>注文個数</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>