<!--エラー分日本語へ変換する&レイアウト整える-->
<!--現状：左より＆英語-->
<div class="errorblock">
  <% if @delivery_address.errors.any? %>
    <div class="alert">
      <h3><%= @delivery_address.errors.count %> error prohibited this obj from being saved:</h3>
        <ul>
          <% @delivery_address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>