<div class="errorblock text-center">
  <% if @delivery_address.errors.any? %>
    <div class="alert text-center">
      <h5>以下の内容を入力してください</h5>
        <ul>
          <% @delivery_address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>